.quiz-app-wrapper {
    .page-start,
    .page-image {
        width: 100%;

        img {
            width: 90%;
            position: absolute;
            z-index: 2;

            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .page-start {
        img {
            bottom: 200px;
        }
    }

    .page-wrapper {
        height: 100vh;

        // overflow: hidden;

        .page-content {
            padding: 0 16px;
        }

        .text-blue {
            color: #1b3984;
            z-index: 3;
        }

        .text-orange {
            color: #ee762f;
        }

        .text-red {
            color: #c11a10;
        }

        .text-pink {
            color: #882475;
        }

        .text-yellow {
            color: #ffc800;
            z-index: 3;
        }

        .text-sm {
            size: 16px;
            line-height: 20px;
        }

        .text-sm-small {
            size: 14px;
            line-height: 20px;
        }

        .text-ex-sm {
            size: 18px;
            line-height: 24px;
        }

        .text-md {
            font-size: 20px;
            line-height: 24px;
        }

        .text-md-small {
            font-size: 16px;
            line-height: 16px;
        }

        .text-lg {
            font-size: 24px;
            line-height: 32px;
        }

        .text-lg-small {
            font-size: 22px;
            line-height: 32px;
        }

        .text-xl {
            font-size: 40px;
            line-height: 42px;
        }

        .text-xl-small {
            font-size: 32px;
            line-height: 38px;
        }
    }

    .z-1 {
        z-index: 1;
    }
    .z-2 {
        z-index: 2;
    }
    .z-3 {
        z-index: 3;
    }

    .z-1,
    .z-2,
    .z-3 {
        position: relative;
    }
}

// @media all and (max-height: 736px) {
//     .look-back-wrapper .page-start img {
//         width: 80%;
//     }
//     .look-back-wrapper .page-image img {
//         width: 80%;
//     }
// }

// @media all and (max-height: 667px) {
//     .look-back-wrapper .page-start img {
//         width: 70%;
//     }
//     .look-back-wrapper .page-image img {
//         width: 70%;
//     }
// }

// @media all and (max-height: 568px) {
//     .look-back-wrapper .page-start img {
//         bottom: 175px;
//     }
//     .look-back-wrapper .page-image img {
//         bottom: 50px;
//     }
// }
