.quiz-wrapper {
    .A {
        background-color: #daeaee;
    }
    .B {
        background-color: #ffdedb;
    }

    .C {
        background-color: #dcd7e6;
    }

    .D {
        background-color: #f3efd4;
    }

    .question-label {
        font-size: 24px;
        line-height: 32px;
        color: #1b3984;
        margin-bottom: 24px;
        margin-top: 8px;
    }

    .quiz-container {
        // position: absolute;
        // width: calc(100% - 32px);
        // top: 200px;

        .selected-answer {
            border: solid 2px #2f6bff;
        }

        .selected-icon {
        }

        .quiz {
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 3;

            height: 80px;
            width: 100%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05),
                inset 0px 0px 24px rgba(0, 0, 0, 0.05);
            border-radius: 8px;

            margin-bottom: 12px;
            padding: 0 16px 0 16px;

            font-size: 18px;
            line-height: 24px;
            color: #22313f;
        }
    }
}
